<div>
    <p>Hello <%= @user.username %></p>
    <p>Welcome to my site </p>
    To login to the site, just follow this link: <%= link_to "lohin", @url %>.

    <i>Please do not reply to this email</i>
</div>