<p style="color: green"><%= notice %></p>

<div class="indexFriend">
<h2>Friends List </h2>
<h2><%= link_to "Add New friend", new_friend_path, class: "addNewFriend" %></h2>
</div>


  <div id="friends" class="friendIndex">
    <% @friends.each do |e| %>
      
      <% unless e.archived? %>

        <div class="friendItem">
        <%= render e %>
        <%= link_to "Show this friend", e %>
        </div>
      <% end %>

    <% end %>

  </div>
  <br>
