<div class="formContainer">

  <h1>New friend of user "<%= current_user.username %>" </h1>

  <%= render "form", friend: @friend %>

  <br>

  <div>
    <%= link_to "Back to friends", friends_path %>
  </div>
  
</div>