<div class="About">
<h1>About me</h1>
<div class="welcomeClass"> 
    <% if @user123 %>
        <i style="padding-right: 7px">Welcome </i>
        <% if @user123.avatar.attached? %>
            <%= image_tag @user123.avatar, width:50, class: "aboutImg" %>
        <% else %>
            <%= @user123.email %> 
        <% end %>

    <% else %>
        Please login first
    <% end %>
    
</div>

</div>

<ul class="CV">
<li> Full name: Than Trong Khanh </li>
<li> Career: a ruby developer </li>
<li> Other langauges: Python, Javascript, git, html, CSS, SCSS</li>
<li> Database: postgresql, mongodb</li>
<li> location: HCM city, Vietnam</li>

<li><a href=https://khanhror001.herokuapp.com >
    app 1. devise +postgres, CRUD, reset password, real-time checking login status.</a>  </li>

<li><a href=https://khanhrorchat.herokuapp.com >
    app 2. devise +mongodb, real-time chating among user.</a>  </li>

<li> <a href=https://github.com/khanh-devos >Welcome to see my Git</a> </li>
</ul>