<div class="About">
<h1>About me</h1>
<div class="welcomeClass"> 
    <% if @user %>
        <i>Welcome</i>
        <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, width:50, class: "aboutImg" %>
        <% else %>
            <%= @user.email %> 
        <% end %>

    <% else %>
        Please login first
    <% end %>
    
</div>

</div>
<p> Full name: Than Trong Khanh </p>
<p> Career: a ruby developer </p>
<p> Other langauges: ReactJS and litle Python</p>
<p> Currently I am looking for a part-time or long-time job</p>
<p> Welcome to see my Git</p>

    