<div class="About">
<h1>About me</h1>
<div class="welcomeClass"> 
    <% if @user123 %>
        <i style="padding-right: 7px">Welcome </i>
        <% if @user123.avatar.attached? %>
            <%= image_tag @user123.avatar, width:50, class: "aboutImg" %>
        <% else %>
            <%= @user123.email %> 
        <% end %>

    <% else %>
        Please login first
    <% end %>
    
</div>

</div>
<p> Full name: Than Trong Khanh </p>
<p> Career: a ruby developer </p>
<p> Other langauges: ReactJS and litle Python</p>
<p> Welcome to see my Git</p>

    