
<h1>Users List : </h1>

<p>Each user can have many friends shown at 
route "User_friends" or "All friends"</p>


<table class="homeIndex" id="userTableID">
    <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Appearance</th>
    <th></th>
    </tr>

<% @users.sort_by{|u| u.id }.each.with_index do |e, i| %>

    <tr>
        <td><%= e.username %></td>
        <td><%= e.email %></td>
        
        <td data_appearing_on='<%= @subs[i] %>' style="color: red">
            
            <%= e.status %>
            
        </td>
        
    </tr>

    

<% end %>
</table>

<script>


</script>